/* TAG STYLES */

h1, h3{
    margin: 0px;
    font-size: 200%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
}

h1 span{
    color: aqua;
}
body, html{
    width: 85%;
    margin: 5% auto;
    
    
}

section{
    display: flex;
    margin: 20px;

    text-align: center;
}

p{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    
}




/* CLASS STYLES */




.header-section{
    padding-top: 5%;
}

.about-me{
    background-image: url("images/shapes/Frame\ 57.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;



}
.half-width{
    width: 50%;
    margin: auto;
    
}

.half-width img{
    width: 80%;
    padding-left: 25px;
    
}



.link-style{
    text-decoration: none;
    background: linear-gradient(75deg, aqua, teal);
    padding: 10px 40px;
    border-radius: 50px;
    color: white;
    font-weight: 800;
    display:inline-block;
    margin:0 auto;
}

.showcase{
    background-image: url("images/shapes/Frame\ 56.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    font-size: 20px;
    display: inline-flex;
    }

    .showcase img{
        width: 100%;
    }

.showcase-2{
    background-image: url("images/food/Project\ Cover1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-shadow: 2px 2px black;
    font-weight: bold;
    text-align: center;
}


.menu-header{
    background-image: url("images/shapes/Group 8446.png");
    background-position: top;
    background-repeat: no-repeat;
    text-align: center;    
    margin: auto;
    width: 50%;
    padding: 10px;

}

.menu-items{
    padding-right: 3%;
    padding-left: 3%;
    background-image: url("images/food/Project Cover4.png");
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-shadow: 2px 2px black;
    font-weight: bold;
    
}

.menu-items div{
    box-shadow: inset 7px 7px 7px #d7d7d7;
    padding: 20px;
    margin: 0 1%;
    border: 2px solid aqua;
    border-radius: 35px;
    width: 31%;
    
}

.menu-items img{
    border-radius: 25%;
    float: center;
    width:  100%;
}

.menu-items h3{
    background: orange;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    font-weight: 400;
    color: white;
}

.footer-area{
    text-align: center;
    background: black;
    font-weight: 800;
    background-position: center;
    border: 2px solid gray;
    border-radius: 15px;
    color: white;
}

/* ID STYLES */

/* #about-us{
    padding-top: 150px;
} */

#credits{
    font-size: 10px;
}

#showcase-img{
    width: 15%;
}

