/* TAG STYLES */


* {
    margin: 0;
    padding: 0;
}

h1, h3{
    margin: 0px;
    font-size: 200%;
    font-weight: 800;
}

h1 span{
    color: aqua;
}
body{font-family: 'Quicksand', sans-serif;}

section{
    display: flex;
    text-align: center;
}

p{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    padding: 14px 0;
}




/* CLASS STYLES */




.header-section{
    padding-top: 5%;
}

.about-me{
    background-image: url("images/shapes/Frame\ 57.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;



}
.half-width{
    width: 50%;
    margin: auto 3%;
}

.half-width img{
    width: 80%;
    padding-left: 25px;
    
}



.link-style{
    text-decoration: none;
    background: linear-gradient(75deg, aqua, teal);
    padding: 10px 40px;
    border-radius: 50px;
    color: white;
    font-weight: 800;
    display:inline-block;
    margin:0 auto;
}

.showcase{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    font-size: 20px;
    display: inline-flex;
    }

    .showcase img{
        width: 100%;
    }

.showcase-2{
    background-image: url("images/food/Project\ Cover1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 40px 3%;
    margin: 20px 0;
    color: white;
    text-shadow: 2px 2px black;
    font-weight: bold;
    text-align: center;
}


.menu-header{
    background-image: url("images/shapes/Group 8446.png");
    background-position: top;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    display: block;
    padding: 30px 0;
}

.menu-items{
    padding: 50px 3%;
    background: url("images/food/Project Cover4.png") no-repeat center center;
    text-shadow: 2px 2px black;
    font-weight: bold;
    color: white;
}

.menu-items div{
    box-shadow: inset 0 0 50px 5px #ffffff;
    padding: 20px;
    margin: 0 2%;
    border: 2px solid white;
    border-radius: 35px;
    width: 26%;
    background: rgb(0,0,0,.3);
}

.menu-items img{
    border-radius: 25%;
    float: center;
    width:  100%;
}

.menu-items h3{
    background: orange;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    font-weight: 400;
    color: white;
}

.footer-area{
    text-align: center;
    background: #034a4a;
    font-weight: 800;
    background-position: center;
    border: 2px solid gray;
    padding-top: 15px;
    color: white;
}

/* ID STYLES */

/* #about-us{
    padding-top: 150px;
} */

#credits{
    font-size: 10px;
}

#showcase-img{
    width: 15%;
}

